doctype html
html(lang='en', data-ng-app='oto')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title Organize the Olingers
        link(rel='stylesheet', href='/css/app.css')
        link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/lib/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="/lib/ng-table/ng-table.css", rel="stylesheet")

        link(href="/img/apple-touch-icon-120x120.png", sizes="120x120", rel="apple-touch-icon")
        link(href="/img/apple-touch-icon-76x76.png", sizes="76x76", rel="apple-touch-icon")

        link(href="/img/favicon.ico", rel="shortcut icon", type="image/x-icon")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")

    body(data-ng-cloak)

        nav#navbar.navbar.navbar-default(role="navigation", data-ng-controller="NavCtrl", ng-cloak)
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(title='Organize the Olingers', href='/')
                img.logo(src='/img/apple-touch-icon-120x120.png')
                strong tO
                small.text-muted &nbsp;Organize the Olingers

            .collapse.navbar-collapse#bs-example-navbar-collapse-1
               ul.nav.navbar-nav
                  li(data-access-level='accessLevels.anon', active-nav)
                      a(href='/login') Log in
                  li(data-access-level='accessLevels.user', active-nav)
                      a(href='/') Home
                  li(data-access-level='accessLevels.user', active-nav)
                      a(href='/notes') Notes
                  li(data-access-level='accessLevels.user', active-nav='nestedTop')
                      a(href='/watchlist') Watchlist
                  li(data-access-level='accessLevels.user', active-nav='nestedTop')
                      a(href='/household') Household
                  li(data-access-level='accessLevels.user', active-nav)
                      a(href='/automation') Automation
                  li(data-access-level='accessLevels.admin', active-nav)
                      a(href='/admin') Admin

               ul.nav.navbar-nav.navbar-right
                  li(data-access-level='accessLevels.user')
                     a(href="", data-ng-click="logout()")
                        |Log out&nbsp;
                        strong {{ user.username }}&nbsp;

            ng-include(src="core.subnav")
        .container.main(data-ui-view)
        #alertBox.alert.alert-danger(data-ng-show="error")
            button(type="button", class="close", data-ng-click="error = null;") &times;
            strong Oh no!&nbsp;
            span(data-ng-bind="error")

        //Dependencies
        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/underscore/underscore-min.js')
        script(src='/lib/bootstrap/js/collapse.js')
        script(src='/lib/angular/angular.min.js')
        script(src='/lib/angular-cookies/angular-cookies.min.js')
        script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/lib/angular-file-upload/angular-file-upload.min.js')
        script(src='/lib/ng-table/ng-table.js')
        script(src='/ui-bootstrap-tpls.min.js')
        script(src='/ui-utils.js')

        //Core
        script(src='/js/core/routingConfig.js')
        script(src='/js/core/app.js')
        script(src='/js/core/NavCtrl.js')
        script(src='/js/core/services.js')
        script(src='/js/core/directives.js')
        script(src='/js/core/helperFunctions.js')

        script(type="text/ng-template", id="404")
            include ./404
        script(type="text/ng-template", id="401")
            include ./401

        //Login
        script(src='/js/login/LoginCtrl.js')
        script(type="text/ng-template", id="login")
            include ../login/login

        //Admin
        script(src='/js/admin/AdminCtrl.js')
        script(type="text/ng-template", id="admin")
            include ../admin/admin

        //Home
        script(src='/js/home/HomeCtrl.js')
        script(type="text/ng-template", id="home")
            include ../home/home

        //Automation
        script(src='/js/automation/AutomationCtrl.js')
        script(type="text/ng-template", id="automation")
            include ../automation/automation

        //Notes
        script(src='/js/notes/CardFormCtrl.js')
        script(src='/js/notes/CardListCtrl.js')
        script(src='/js/notes/CardsFactory.js')
        script(src='/js/notes/NotesViewCtrl.js')
        script(src='/js/notes/StackListCtrl.js')
        script(src='/js/notes/ThumbService.js')
        script(src='/js/notes/StacksFactory.js')
        script(src='/js/notes/notesDirectives.js')
        script(src='/js/notes/notesFilters.js')
        script(type="text/ng-template", id="notes/card-list")
            include ../notes/card-list

        //Watchlist
        script(src='/js/watchlist/SeriesCtrl.js')
        script(type="text/ng-template", id="watchlist/subnav")
            include ../watchlist/subnav
        script(type="text/ng-template", id="watchlist/series")
            include ../watchlist/series

        //Household
        script(src='/js/household/CompensateCtrl.js')
        script(src='/js/household/KittiesCtrl.js')
        script(type="text/ng-template", id="household/subnav")
            include ../household/subnav
        script(type="text/ng-template", id="household/compensate")
            include ../household/compensate
        script(type="text/ng-template", id="household/kitties")
            include ../household/kitties
