nav.navbar.navbar-inverse.subnav
  .container
    ul.nav.navbar-nav
      li(active-nav)
        a(href='/household/') Compensate
      li(active-nav)
        a(href='/household/kitties') Spawn kitties