.col-md-5.col-sm-12.col-md-offset-3
  .panel.panel-default
    .panel-body
      form.form-horizontal(novalidate='', ng-submit="login()", name="loginForm", role="form")
        .form-group
          .col-sm-12
            input.form-control(type='text', required, placeholder='Username', ng-model='username', autofocus, autocapitalize="none")
        .form-group
          .col-sm-12
            input.form-control(type='password', required, placeholder='Password', ng-model='password')
        .form-group
          .col-sm-12
            button.btn.btn-default(type='submit', ng-disabled='loginForm.$invalid') Log in
            span.text-muted &nbsp;Remember me
            input(type='checkbox', ng-model='rememberme')
            
        span.text-warning(ng-show='loginFormState.loginError') Username does not exist or wrong password
        span.text-muted(ng-show='core.savedLocation') Please log in to access {{core.savedLocation}}
