h2 Basement wireless
.btn-group.btn-group-lg
  button.btn.btn-primary(ng-click='wirelessOn()') Turn on
  button.btn.btn-primary(ng-click='wirelessOff()') Turn off
p
p.text-muted
 | {{wirelessStatus}}
